body {
  margin: 0 auto;
    padding: 0;
    font-size: 16px;
    font-family: bitter,georgia,serif;
    color: #444;
    line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.open-menu {
  height: 500px !important;
}